.productHeading {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3A3A3A;
}

.showBtn {
  width: 245px;
  height: 48px;
  gap: 0px;
  border: 1px solid #B88E2F;
  opacity: 1; /* Change opacity to 1 */
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #B88E2F;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1401px) and (max-width: 2000px) {
  .smallSizeScreen {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* You can adjust the number of columns */
    gap: 8px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 950px) {
  .smallSizeScreen {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }
}
